/*
*
* File name: document.less
* Info: Main Document Styles
*
*/

// NORMALIZE
#hl.normalize();

html, body {
  background: @color2 url(images/css/bkg.jpg) repeat 0 0;
  height: 100%;
}

// Min Height Fix
.responsi {
  min-height: 100%;
}