/*
*
* File name: document.less
* Info: Main Document Styles
*
*/

// NORMALIZE
#hl.normalize();

html, body {
  background: @color3;
  height: 100%;
  line-height: 1;
}

// Min Height Fix
.responsi {
  min-height: 100%;
}

noscript {
  text-align: center;
  h1 {
    color: @color2;
    font-size: 36px;
  }
}