/*
*
* File name: frame.less
* Info: Frame Styles
*
*/

.loadFrame {
  background: #fafafa;
  .loading {
    h1 {
      #hl.text-shadow(1px, 1px, 1px, #fff);
      color: #ddd;
      font-size: 36px;
      text-align: center;
    }
  }
}