/*
*
* File name: header.less
* Info: Header Styles
*
*/

.header {
  #hl.drop-shadow(0, 1px, 0, #111);
  #hl.background-gradient(darken(@color1, 10%), @color2, @color2);
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px;
  .container {
    .clearfix();
    display: block;
    float: none;
    line-height: 0;
    margin: 0 auto;
    padding: 0 10px;
    width: auto;
    @media (min-width: 1140px) {
      padding: 0;
      width: 1140px;
    }
    h1 {
      display: inline-block;
      float: left;
      line-height: 40px;
      margin: 14px auto 6px;
      width: 140px;
      .logo {
        background: url(images/css/sprite.png) no-repeat 0 -406px;
        .retinaSprite();
        display: block;
        height: 39px;
        width: 140px;
        &:hover{
          background-position: 0 -479px;
        }
      }
      @media (max-width: 767px) {
        display: block;
        float: none;
      }
    }
    > section {
      position: relative;
      @media (max-width: 767px) {
        display: none;
      }
      #controls {
        display: inline-block;
        float: right;
        margin-top: 10px;
        position: relative;
        text-align: right;
        vertical-align: top;
        .url-input {
          #hl.drop-shadow(1px, 1px, 0px, #fff);
          #hl.round-all-corners();
          background: #fff;
          border-color: #ddd #f8f8f8 #f8f8f8 #ddd;
          border-style: solid;
          border-width: 1px;
          color: @color4;
          display: inline-block;
          font-size: 16px;
          height: 33px;
          line-height: 18px;
          margin: 0;
          padding: 4px 39px 0 10px;
          vertical-align: bottom;
          &:focus {
            outline: none;
          }
          @media (min-width: 1140px) {
            width: 400px;
          }
        }
        .url-submit {
          .btn();
        }
      }
    }
    .divider {
      background-color: #ddd;
      border-right: 1px solid #fff;
      display: inline-block;
      float: right;
      height: 60px;
      margin: 0 9px;
      overflow: hidden;
      width: 1px;
    }
    .rotate {
      background: url(images/css/sprite.png) no-repeat 4px -298px;
      .retinaSprite();
      cursor: pointer;
      display: inline-block;
      float: right;
      height: 39px;
      margin: 7px 0 0 15px;
      text-decoration: none;
      text-indent: -9999px;
      vertical-align: top;
      width: 30px;
      &:hover {
        background-position: 0 -341px;
      }
    }
    .twitter {
      background: url(images/css/sprite.png) no-repeat 0 -205px;
      .retinaSprite();
      cursor: pointer;
      display: inline-block;
      float: right;
      height: 39px;
      margin: 7px 0 0 14px;
      text-decoration: none;
      text-indent: -9999px;
      vertical-align: top;
      width: 28px;
      &:hover {
        background-position: 0 -250px;
      }
    }
    .bookmark {
      background: url(images/css/sprite.png) no-repeat -23px -109px;
      .retinaSprite();
      cursor: pointer;
      display: inline-block;
      float: right;
      height: 36px;
      margin: 13px 0 0 10px;
      text-decoration: none;
      text-indent: -9999px;
      vertical-align: top;
      width: 27px;
      &:hover {
        background-position: -23px -165px;
      }
      @media(max-width: 1024px) {
        display: none;
      }
    }
    #tip {
      #hl.text-shadow(1px, 1px, 0, #fff);
      #hl.rounded-corners(0, 0, 10px, 10px);
      background: darken(@color1, 10%);
      border-color: #ccc;
      border-style: solid;
      border-width: 0 1px 1px;
      color: @color4;
      display: none;
      font-size: 12px;
      line-height: 1.5;
      padding: 10px 5px 5px;
      position: absolute;
      right: -4px;
      text-align: center;
      text-indent: 0;
      top: 58px;
      width: 100px;
      z-index: 2;
    }
  }
  // Alerts Panel
  #alerts {
    #hl.inner-shadow(0, 0, 10px, #000);
    background: #222;
    border-top: 1px solid #aaa;
    bottom: -1px;
    display: none;
    height: 30px;
    padding-top: 10px;
    position: relative;
    .alert-title {
      #hl.text-shadow(1px, 1px, 1px, #000);
      display: inline-block;
      font-family: @mainFont;
      color: #d6f2fa;
      font-size: 18px;
      font-weight: 900;
      margin: 0 5px 0 0;
      &.warning {
        color: #f2d2d2;
      }
      &.success {
        color: #d1f2c2;
      }
    }
    .alert-message {
      #hl.text-shadow(1px, 1px, 1px, #000);
      color: #fff;      
      display: inline-block;
      line-height: 1;
      font-size: 16px;
      margin: 0;
    }
    .alert-close {
      #hl.text-shadow(1px, 1px, 0, #000);
      color: #ebebeb;
      display: inline-block;
      float: right;
      font-family: @titleFont;
      font-size: 20px;
      margin-top: 10px;
      text-decoration: none;
    }
  }
}
::-webkit-input-placeholder {
  color: lighten(@color4, 10%);
  font-size: 16px;
}
:-moz-placeholder {
  color: lighten(@color4, 10%);
  font-size: 16px;
}
:-ms-input-placeholder {
  color: lighten(@color4, 10%);
  font-size: 16px;
}