.container
  %h1 
    %a{ href: "http://respon.si", title: "Responsi", class: "logo" }
  %section
    %a{ class: 'twitter', href: "http://twitter.com/responsiapp", title: "Follow @ Responsiapp" } Twitter
    %a{ class: 'bookmark', id: 'bookmarklet', href: "#" } Responsi
    #tip Drag me to your bookmarks!
    %a{ class: 'rotate', href: "#", title: "Rotate" } Rotate
    / .divider
    %form#controls
      %input{ name: "url", type: "text", placeholder: "Enter the url you want to test&hellip;", class: "url-input" }
      %input{ name: "submit", type: "submit", value: "Go", class: "url-submit" }
      %select{ name: "sizes", class: "sizes", id: "sizes" }
        %option{ value: "---", selected: true, disabled: true } Size&hellip;
        %option{ value: "320x480", data: { width: 320, height: 480 } }
          320 x 480
        %option{ value: "360x640", data: { width: 360, height: 640 } }
          360 x 640
        %option{ value: "768x1024", data: { width: 768, height: 1024 } }
          768 x 1024
        %option{ value: "800x1280", data: { width: 800, height: 1280 } }
          800 x 1280
        %option{ value: "980x1280", data: { width: 980, height: 1280 } }
          980 x 1280
        %option{ value: "1280x600", data: { width: 1280, height: 600 } }
          1280 x 600
        %option{ value: "1920x900", data: { width: 1920, height: 900 } }
          1920 x 900
#alerts
  .container
    %h3.alert-title
      %span
      :
    %p.alert-message
    %a{ class: "alert-close", href: "#" }
      hide