%section{ id: "frame_holder", class: 'responsi-frame' }
  .mask
  %iframe{ id: "main_frame", sandbox: "allow-same-origin allow-forms allow-scripts", src: "/frame.html", frameborder: "no" }
%section{ id: "intro" }
%section{ id: "logo" }