%section{ id: "frame_holder", class: 'responsi-frame' }
  .mask
  %iframe{ id: "main_frame", sandbox: "allow-same-origin allow-forms allow-scripts", src: "http://responsi.herokuapp.com/#/frame", frameborder: "no" }
%section{ id: "intro" }
%section{ id: "logo" }